@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import "tailwindcss";

.plaster-regular {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}

